.pandulak {
  @apply mb-4 mx-auto;

  height: 110px;
  width: 110px;
}

.bg {
  background-image: url("/jfq-sprite_2.png");
  background-size: 440px;
  height: 100%;
  width: 100%;
}
.bg1 {
  background-position: 0 0;
}
.bg2 {
  background-position: 33.3333% 0;
}
.bg3 {
  background-position: 66.66666% 0;
}
.bg4 {
  background-position: 100% 0;
}
.bg5 {
  background-position: 0 33.33333%;
}
.bg6 {
  background-position: 33.333333% 33.33333%;
}
.bg7 {
  background-position: 66.66666% 33.33333%;
}
.bg8 {
  background-position: 100% 33.3333%;
}
.bg9 {
  background-position: 0 66.666666%;
}
.bg10 {
  background-position: 33.333333% 66.666666%;
}
.bg11 {
  background-position: 66.666666% 66.666666%;
}
.bg12 {
  background-position: 100% 66.6666666%;
}
.bg13 {
  background-position: 0 100%;
}
.bg14 {
  background-position: 33.33333% 100%;
}
.bg15 {
  background-position: 66.66666% 100%;
}
.bg16 {
  background-position: 100% 100%;
}

:global(.page-transition-enter) .transition {
  transform: translateY(-150%);
}
:global(.page-transition-enter-active) .transition {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}
:global(.page-transition-exit) .transition {
  transform: translateY(0);
}
:global(.page-transition-exit-active) .transition {
  transform: translateY(-150%);
  transition: transform 300ms ease-in-out;
}
