.pandulak {
  @apply mb-4 mx-auto;

  height: 110px;
  width: 110px;
}

.bg {
  background-image: url("/sprite.png");
  background-size: 220px;
  height: 100%;
  width: 100%;
}
.bg1 {
  @apply bg;
  background-position: 0 0;
}
.bg2 {
  @apply bg;
  background-position: 100% 0;
}
.bg3 {
  @apply bg;
  background-position: 0 100%;
}
.bg4 {
  @apply bg;
  background-position: 100% 100%;
}

:global(.page-transition-enter) .pandulak {
  transform: translateY(-150%);
}
:global(.page-transition-enter-active) .pandulak {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}
:global(.page-transition-exit) .pandulak {
  transform: translateY(0);
}
:global(.page-transition-exit-active) .pandulak {
  transform: translateY(-150%);
  transition: transform 300ms ease-in-out;
}
