.page-transition-enter .page-body {
  opacity: 0;
}
.page-transition-enter-active .page-body {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit .page-body {
  opacity: 1;
}
.page-transition-exit-active .page-body {
  opacity: 0;
  transition: opacity 300ms;
}
